# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules/*

# Keep mods made to rn-native-alarmkit
!/node_modules/rn-native-alarmkit/
!/node_modules/rn-native-alarmkit/ios/
!/node_modules/rn-native-alarmkit/ios/AlarmKitManager.swift

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios/*
/android/*

# Keep mods to info.plist and AndroidManifest.xml
# Un-ignore parent directories first, then the specific files
# !/ios/
!/ios/TheNotifier/
!/ios/TheNotifier/Info.plist
!/android/
!/android/app/
!/android/app/src/
!/android/app/src/main/
!/android/app/src/main/AndroidManifest.xml