# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules/*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# builds
*.ipa
*.apk

#
# NOTE local env ARE ALLOWED for expo client's public envars
#

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios/*
packages/notifier-alarm-manager/android/build/

# But allow gradlew files needed for EAS builds
!/android/gradlew
!/android/gradlew.bat
!/android/gradle/
!/android/gradle/**
